  {% extends "base.html" %}

  {% block content %}
    <section class="authorisation">
        <h1 class="authauthorisation__title">Авторизація в системі Drive Safe</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="notification error">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}
        <form method="post">
            <input class="authorisation__input" type="text"
             name="username" placeholder="Username" required><br>
            <input class="authorisation__input" type="password"
             name="password" placeholder="Password" required><br>
            <input class="button authorisation__button" type="submit" value="Увійти">
        </form>
    </section>
  {% endblock %}
